body{
    background: #8d8989;
}


p{
    color: #4b4b49;
}

.foto-principal {
  width:200px;

    border: 2px solid #ffffff; /*shorthand*/
    border-radius: 50%;  
    


    /* margin-top: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    */  
    margin: 30px 30px 30px 30px;
}
